# Python
__pycache__/
*.egg-info

shh/
shhh/
shhhh/

# Libraries and Models
CLIP/
taming-transformers/
taming/
checkpoints/

# Editor
.vscode/

# OS
.DS_Store

# Operations
outputs/
steps/
outputs-*/
steps-*/

# Files
output.png
steps.mp4

